html {
    background-color: #bbbbbb;
    padding: 0px;
}
body {
    margin: 0 auto;
    width: 80%;
    min-height: calc(100vh - 4em);
    padding: 1.5em;
    background-color: #dddddd;
    border-color: #eeeeee;
    border-left-style: solid;
    border-right-style: solid;
    border-width: 0.5em;
    font-size: 20px;
    font-family: 'M PLUS 1p', sans-serif;
    color: #444444;
}
@media screen and (min-width: 650px) {
    body {
	width: 80%;
   	padding: 2em;
        border-width: 1em;
    }
}
	
p {
    font-size: 20px;
    line-height: 1.5;
    margin:0 1em 0.5em 1em;
}
@media screen and (min-width: 650px) {
    p{
	margin:0 2em 0.5em 1.5em;
    }
}

p.value-description {
    text-indent: -1em;
    margin-left: 2em;
    line-height: 1.2;
}


p.question {
    margin: 16pt auto;
    font-weight: normal;
    width: 70%;
    min-width: 300px;
    min-height: 144pt;
    background-color: #eeeeee;
    padding: 16pt;
    border-radius: 16pt;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
}


h1, h2, h3 {
    color: #444444;
    font-family: 'M PLUS 1p', sans-serif;
}

h1 {
    font-size: 2em;
    text-align: center;
}

h1.top {
    font-size: 2.5em;
    text-align: center;
    margin-top: 0.5em;
    margin-bottom: 1em;
}

h2 {
    font-size: 1.5em;
    line-height: 1em;
    margin-top: 1em;
    margin-bottom: 0.5em;
    text-decoration: underline;
}

h2.center { 
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  font-size: 1.5em;
  text-align: center;
}

h3 {
    font-size: 1.5em;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
}

h3.ideology{
    font-size: 1em;
    margin-bottom: 0.5em;
    text-align: left;
    font-weight: bold;
}

@media screen and (min-width: 650px) {
   
    h2.center { 
       font-size: 3em;
    }

    h3 {
        font-size: 2em;
        margin-top: 1.5em;
	margin-bottom: 0.5em
        text-align: center;
    }
	
    h3.ideology{
        font-size: 1.5em;
    }
}

li {
    font-size: 16pt;
    text-indent: 16pt;
}
a {
    color: #888;
    font-family: inherit;
}
select, option {
    font-size: 18px;
}



img.center {
    display: block;
    margin: 1em auto;
    width: 90%;
    max-width: 600px
}
	

.button {
    background-color: #2196f3;
    font-family: 'M PLUS 1p', sans-serif;
    border: none;
    border-radius: 8pt;
    color: #eeeeee;
    padding: 0.25em;
    width: 90%;
    max-width: 600px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 1.5em;
    margin: -2px auto;
    cursor: pointer;
}

@media screen and (min-width: 650px) {
    .button  {
	padding: 8pt;
    }
}
	

.start {
    background-color: #2196f3;
    font-family: 'M PLUS 1p', sans-serif;
    border: none;
    border-radius: 8pt;
    color: #eeeeee;
    padding: 8pt;
    width: 90%;
    max-width: 600px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 2em;
    margin: -2px auto;
    cursor: pointer;
    line-height: 1.2em;
}

.small_button, .small_button_off {
    background-color: #333;
    font-family: 'M PLUS 1p', sans-serif;
    border: none;
    border-radius: 8pt;
    color: #eeeeee;
    padding: 8pt;
    width: 10%;
    min-width: 100pt;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 0.9em;
    margin: -2px auto;
    cursor: pointer;
    line-height: 1.2em;
}
.small_button_off {
    background-color: #ddd;
    color: #888;
    border: 2px solid #888;
    cursor: not-allowed;
    margin: -4px auto;
    line-height: 1.2em;
}


div.result_desc {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 1em;
}
.result_desc_more .more, .result_desc_more.show .dots {
    display: none
}

.result_desc_more.show .more {
    display: inline
}

.result_desc_more a {
    background-color: #2196f3;
    border: none;
    border-radius: 8pt;
    color: #eeeeee;
    padding: 8pt;
    width: 90%;
    max-width: 600px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 1em;
    margin: -2px auto;
    cursor: pointer;
}
@media screen and (min-width: 1300px) {
	div.axis {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	div.result_desc {
		width: 50%;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 1em;
	}
	.result_desc_more .more, .result_desc_more.show .dots {
		  display: inline
	}

	.result_desc_more.show .more {
		  display: none
	}

	.result_desc_more a {
		  display: none;
	}
}



	
div.bar {
    height: 1em;
    line-height: 1em;
    padding: 8pt;
    margin-top: 4pt;
    margin-bottom: 4pt;
    border-width: 4px;
    border-right-width: 1px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-color: #222222;
    background-color: #eeeeee;
    display: block;
    width: 50%;
}
div.text-wrapper {
    font-family: 'M PLUS 1p', sans-serif;
    font-size: 1em;
    line-height: 1em;
    color: #222222;
    display: inline-block;
}

div.equality {
    background-color: #f44336;
    text-align: left;
    border-right-style: solid;
}
div.wealth {
    background-color: #00897b;
    text-align: right;
    border-left-style: solid;
}
div.liberty {
    background-color: #ffeb3b;
    text-align: left;
    border-right-style: solid;
}
div.authority {
    background-color: #3f51b5;
    text-align: right;
    border-left-style: solid;
}
div.peace {
    background-color: #03a9f4;
    text-align: right;
    border-left-style: solid;
}
div.might {
    background-color: #ff9800;
    text-align: left;
    border-right-style: solid;
}
div.progress {
    background-color: #9c27b0;
    text-align: right;
    border-left-style: solid;
}
div.tradition {
    background-color: #8bc34a;
    text-align: left;
    border-right-style: solid;
}
#img-equality, 
#img-wealth,
#img-liberty,
#img-authority,
#img-peace,
#img-might,
#img-progress,
#img-tradition {
	     height: 70px;
	}
@media screen and (min-width: 650px) {
	div.bar {
	    height: 36pt;
	    line-height: 36pt;
	}
	div.text-wrapper {
	    font-size: 36pt;
	    line-height: 36pt;
	}

	#img-equality, 
	#img-wealth,
	#img-liberty,
	#img-authority,
	#img-peace,
	#img-might,
	#img-progress,
	#img-tradition {
	     height:128px;
	}
}


span.weight-300 {
    font-weight: 300;
}

#banner {
    border-color: #444444;
    border-style: solid;
    border-width: 2px;
    border-radius: 8pt;
    display: block;
    margin: 8pt;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    max-width: 650px;
}

